<h3 class="text-center m-5 font-monospace fw-bolder">User Details</h3>

<table class="table table-bordered">
  <thead class="bg-dark text-light text-center">
    <tr>
      <th scope="col">UserId</th>
      <th scope="col">User Email</th>
      <th scope="col">User Password</th>
    </tr>
  </thead>
  <tbody>
    <tr class="fw-bolder text-center">
      <td>{{ userdetails?.id }}</td>
      <td>{{ userdetails?.email }}</td>
      <td>{{ userdetails?.password }}</td>
    </tr>
  </tbody>
</table>
